Repository katamer/form-event: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix", "git add"],
  "*.{css,md,json}": ["prettier --write", "git add"]
}

Add initial sketch for redux form, configure store, create Form and ContactPage components, update packages
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/components/ContactPage/ContactPage.js
  client/src/components/Form/Form.js
  client/src/index.js
  client/src/stores/store.js
  client/src/utils/validate.js
Due: eslint --fix, prettier --write

Update README.md
  client/README.md
Due: prettier --write

Add event data picker, refactor form component code, modify validate/required, add simple styles for errors
  client/src/components/Form/Form.css
  client/src/components/Form/Form.js
  client/src/components/Form/renderDatePicker/renderDatePicker.js
  client/src/components/Form/renderField/renderField.js
  client/src/utils/validate.js
Due: eslint --fix, prettier --write

Add basic npm packages, add server/node-modules to .gitiignore
  .gitignore
  server/package-lock.json
  server/package.json
Due: prettier --write

Add basic setup of server, eslint for server, update README.md
  .gitignore
  README.md
  package.json
  server/.env-example
  server/.eslintrc
  server/config/config.js
  server/errors/DataBaseError.js
  server/errors/NotFoundError.js
  server/errors/index.js
  server/index.js
  server/loaders/express.js
  server/loaders/index.js
  server/loaders/mongoose.js
  server/package-lock.json
  server/package.json
  server/routes/indexRouter.js
Due: eslint --fix, prettier --write

Fix server validation - creating custom error
  server/errors/ValidatorError.js
  server/models/Applicant.js
  server/package-lock.json
  server/package.json
Due: eslint --fix, prettier --write

Add submit validation - start
  client/src/components/Form/Form.js
  client/src/services/form.js
  client/src/utils/submit.js
  client/src/utils/validators.js
Due: eslint --fix

Fix unworking connection with db, simplify applicant.statics.add method, expand Applicant schema
  server/loaders/mongoose.js
  server/models/Applicant.js
  server/services/applicant.js
Due: eslint --fix
